---
http_interactions:
- request:
    method: get
    uri: http://api.tumblr.com/v2/blog/demo.tumblr.com/posts?api_key=F1p5RReaOvJirhsR78JADwC5Iw8h04qSjDGBhOejXySCLtGo3m
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Tumblr-Usec:
      - D=56473
      Content-Type:
      - application/json
    body: ! '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"title":"Demo","posts":7,"name":"demo","url":"http:\/\/demo.tumblr.com\/","updated":1269024321,"description":"Lorem
      ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
      tincidunt ut laoreet dolore magna aliquam erat volutpat.","ask":false},"posts":[{"blog_name":"demo","id":459265350,"post_url":"http:\/\/demo.tumblr.com\/post\/459265350\/passing-through-times-square-by-mareen-fischinger","type":"photo","date":"2006-11-08
      19:26:00 GMT","timestamp":1163013960,"format":"html","reblog_key":"gOMUPmdx","tags":["Mareen
      Fischinger","New York City","Times Square"],"note_count":7286,"caption":"<p>Passing
      through Times Square by\u00a0<a href=\"http:\/\/www.mareenfischinger.com\/\">Mareen
      Fischinger<\/a><\/p>","photos":[{"caption":"","alt_sizes":[{"width":1280,"height":853,"url":"http:\/\/www.tumblr.com\/photo\/1280\/demo\/459265350\/1\/tumblr_kzjlfiTnfe1qz4rgh"},{"width":500,"height":333,"url":"http:\/\/26.media.tumblr.com\/tumblr_kzjlfiTnfe1qz4rgho1_500.jpg"},{"width":400,"height":267,"url":"http:\/\/29.media.tumblr.com\/tumblr_kzjlfiTnfe1qz4rgho1_400.jpg"},{"width":250,"height":167,"url":"http:\/\/25.media.tumblr.com\/tumblr_kzjlfiTnfe1qz4rgho1_250.jpg"},{"width":100,"height":67,"url":"http:\/\/24.media.tumblr.com\/tumblr_kzjlfiTnfe1qz4rgho1_100.jpg"},{"width":75,"height":75,"url":"http:\/\/27.media.tumblr.com\/tumblr_kzjlfiTnfe1qz4rgho1_75sq.jpg"}],"original_size":{"width":1280,"height":853,"url":"http:\/\/www.tumblr.com\/photo\/1280\/demo\/459265350\/1\/tumblr_kzjlfiTnfe1qz4rgh"}}]},{"blog_name":"demo","id":459260683,"post_url":"http:\/\/demo.tumblr.com\/post\/459260683\/allison-weiss-fingers-crossed","type":"audio","date":"2006-11-07
      19:23:00 GMT","timestamp":1162927380,"format":"html","reblog_key":"wEe8GcU4","tags":[],"note_count":2043,"artist":"Allison
      Weiss","album":"...Was Right All Along","year":2009,"track":"2 of 10","track_name":"Fingers
      Crossed","album_art":"http:\/\/28.media.tumblr.com\/tumblr_ksc4i2SkVU1qz8ouqo1_r2_cover.jpg","caption":"<p><strong><a
      href=\"http:\/\/allisonweiss.tumblr.com\/\">Allison Weiss<\/a>\u00a0\u2014<\/strong>
      Fingers Crossed<\/p>","player":"<embed type=\"application\/x-shockwave-flash\"
      src=\"http:\/\/assets.tumblr.com\/swf\/audio_player.swf?audio_file=http:\/\/www.tumblr.com\/audio_file\/459260683\/tumblr_ksc4i2SkVU1qz8ouq&color=FFFFFF\"
      height=\"27\" width=\"207\" quality=\"best\" wmode=\"opaque\"><\/embed>","plays":2442004,"audio_url":"http:\/\/www.tumblr.com\/audio_file\/459260683\/tumblr_ksc4i2SkVU1qz8ouq"},{"blog_name":"demo","id":459009076,"post_url":"http:\/\/demo.tumblr.com\/post\/459009076\/lorem-ipsum-dolor-sit-amet-consectetuer","type":"text","date":"2006-10-01
      04:00:00 GMT","timestamp":1159675200,"format":"html","reblog_key":"uHt0TEhP","tags":[],"note_count":1455,"title":null,"body":"<p>Lorem
      ipsum dolor sit amet, consectetuer <a href=\"\/\">adipiscing elit<\/a>. Aliquam
      nisi lorem, pulvinar id, commodo feugiat, vehicula et, mauris. Aliquam mattis
      porta urna. Maecenas dui neque, rhoncus sed, vehicula vitae, auctor at, nisi.
      Aenean id massa ut lacus molestie porta. Curabitur sit amet quam id libero suscipit
      venenatis.<\/p>"},{"blog_name":"demo","id":236,"post_url":"http:\/\/demo.tumblr.com\/post\/236\/it-does-not-matter-how-slow-you-go-so-long-as-you","type":"quote","date":"2006-11-08
      19:27:00 GMT","timestamp":1163014020,"format":"html","reblog_key":"iKvmNy9T","tags":["wisdom"],"note_count":11766,"text":"It
      does not matter how slow you go so long as you do not stop.","source":"Wisdom
      of\u00a0<a href=\"http:\/\/en.wikipedia.org\/wiki\/Confucius\">Confucius<\/a>"},{"blog_name":"demo","id":234,"post_url":"http:\/\/demo.tumblr.com\/post\/234\/my-favorite-web-site","type":"link","date":"2006-11-08
      19:25:00 GMT","timestamp":1163013900,"format":"html","reblog_key":"as2i9gTb","tags":[],"note_count":2982,"title":"My
      favorite web site","url":"http:\/\/","description":"<p>Lorem ipsum dolor sit
      amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
      ut laoreet dolore magna aliquam erat volutpat.<\/p>"},{"blog_name":"demo","id":233,"post_url":"http:\/\/demo.tumblr.com\/post\/233\/jack-hey-you-know-what-sucks-lindsey","type":"chat","date":"2006-11-08
      19:24:00 GMT","timestamp":1163013840,"format":"html","reblog_key":"5eI0YaaG","tags":["funny"],"note_count":6792,"title":null,"body":"Jack:
      Hey, you know what sucks?\r\nLindsey: vaccuums\r\nJack: Hey, you know what sucks
      in a metaphorical sense?\r\nLindsey: black holes\r\nJack: Hey, you know what
      just isn''t cool?\r\nLindsey: lava?","dialogue":[{"name":"Jack","label":"Jack:","phrase":"Hey,
      you know what sucks?"},{"name":"Lindsey","label":"Lindsey:","phrase":"vaccuums"},{"name":"Jack","label":"Jack:","phrase":"Hey,
      you know what sucks in a metaphorical sense?"},{"name":"Lindsey","label":"Lindsey:","phrase":"black
      holes"},{"name":"Jack","label":"Jack:","phrase":"Hey, you know what just isn''t
      cool?"},{"name":"Lindsey","label":"Lindsey:","phrase":"lava?"}]},{"blog_name":"demo","id":232,"post_url":"http:\/\/demo.tumblr.com\/post\/232\/an-example-post","type":"text","date":"2006-11-07
      19:22:00 GMT","timestamp":1162927320,"format":"html","reblog_key":"jaHD5AfB","tags":[],"note_count":4977,"title":"An
      example post","body":"<p>Lorem ipsum dolor sit amet, consectetuer <a href=\"\/\">adipiscing
      elit<\/a>. Aliquam nisi lorem, pulvinar id, commodo feugiat, vehicula et, mauris.
      Aliquam mattis porta urna. Maecenas dui neque, rhoncus sed, vehicula vitae,
      auctor at, nisi. Aenean id massa ut lacus molestie porta. Curabitur sit amet
      quam id libero suscipit venenatis.<\/p>\n<ul><li>Lorem ipsum dolor sit amet.<\/li>\n<li>Consectetuer
      adipiscing elit. <\/li>\n<li>Nam at tortor quis ipsum tempor aliquet.<\/li>\n<\/ul><p>Cum
      sociis <a href=\"\/\">natoque penatibus<\/a> et magnis dis parturient montes,
      nascetur ridiculus mus. Suspendisse sed ligula. Sed volutpat odio non turpis
      gravida luctus. Praesent elit pede, iaculis facilisis, vehicula mattis, tempus
      non, arcu.<\/p>\n<blockquote>Donec placerat mauris commodo dolor. Nulla tincidunt.
      Nulla vitae augue.<\/blockquote>\n<p>Suspendisse ac pede. Cras <a href=\"\/\">tincidunt
      pretium<\/a> felis. Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Pellentesque porttitor mi id felis. Maecenas nec augue.
      Praesent a quam pretium leo congue accumsan.<\/p>"}],"total_posts":7}}'
  recorded_at: Wed, 08 Feb 2012 07:48:12 GMT
recorded_with: VCR 2.0.0.rc1
